.login {
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-overlay {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(255 255 255 / 90%);
}

.login-inner {
    flex: 1;
}

.login-block {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

.login-head {
    text-align: center;
    margin-bottom: 2rem;
}

.login-head h1 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
}

.login-icon {
    color: #a0a0a0;
}

.login-logo {
    margin-bottom: .25rem;
}

.login-logo img {
    max-width: 280px;
}

.login-form {
    padding: 15px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    border-radius: 8px;
    background-color: #fff;

    animation-name: loginFadeIn;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}

@keyframes loginFadeIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}