.logo {
    float: left;
    width: 158px;
    height: 31px;
    margin: 16px 24px 16px 0;

    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-select {
    appearance: none;
    box-sizing: border-box;
    inline-size: 100%;
    block-size: 100%;
    padding-block: 0;
    padding-inline: 6px;
    border: 2px solid #ccc;
    vertical-align: top;
    color: var(--rdg-color);
    background-color: var(--rdg-background-color);
    font-family: inherit;
    font-size: var(--rdg-font-size);
}

.grid-select:focus {
    border-color: var(--rdg-selection-color);
    outline: none;
}

.grid-select::placeholder {
    color: #999;
    opacity: 1;
}